.coverage*
.venv
*,cover
cover
*.pyc
AUTHORS
build
dist
ChangeLog
run_tests.err.log
.tox
doc/source/api
doc/build
*.egg
*.eggs
heatclient/versioninfo
*.egg-info
*.log
.stestr/

# Files created by releasenotes build
releasenotes/build
